body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#carousel {
  height: 100vh;
  display: flex;
  justify-content: center;
}

#carousel #carousel-text {
  position: absolute;
  top: 45vh;
  color: #fff;
  text-shadow: 2px 2px #252525;
  z-index: 1;
  text-align: center;
}

#carousel .carousel-image {
  position: absolute;
  display: block;
  margin: auto;
  min-width: 100%;
  height: 95%;
  opacity: 1;
  transition: opacity 1s;
}

#carousel .carousel-image.hidden {
  opacity: 0;
}

#sidebar {
  position: fixed;
}

#review {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#review-input {
  width: 30em;
  height: 1em;
  font-size: 1.5em;
}

#review-body {
  width: 30em;
  height: 10em;
  font-size: 1.5em;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  height: 2em;
}

#home-products {
  margin-bottom: 3em;
}
